.cell-dead,
.cell-alive {
  border: 1px solid #000;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  width: 1%;
  height: 1%;
  padding-top: 1%;
}

.cell-dead {
  background: #fff;
}

.cell-alive {
  background: #61dafb;
}

.cell-alive:focus,
.cell-dead:focus {
  outline: none;
}

.cell-alive:hover,
.cell-dead:hover {
  background: #eee;
}

